.top-bar {
    background: #ff9700;
    color: #bbb;
    font-size: 0.85em;
    padding: 15px 1rem;
    font-weight: 300;
}
.top-bar .dropdown-item {
    font-weight: 300;
}
.top-bar a {
    color: #fff;
    text-decoration: none;
    font-weight:700;
}
.top-bar img {
    margin-right: 10px;
    width: 20px;
}
.top-bar ul {
    margin-bottom: 0;
}
.top-bar ul li {
    padding: 0 15px;
    border-right: 1px solid #555;
    margin-right: 0 !important;
}
.top-bar ul li:first-of-type {
    padding-left: 0;
}
.top-bar ul li:last-of-type {
    border-right: none;
}
.top-bar ul i {
    margin-right: 7px;
}
.top-bar .dropdown {
    padding: 0 25px;
    border-left: 1px solid #555;
    margin-left: 0 !important;
}
.top-bar .dropdown:last-of-type {
    padding-right: 0;
    padding-left: 20px;
}
.top-bar .dropdown:first-of-type {
    border-left: none;
}
.top-bar .dropdown-menu {
    margin-top: 17px;
}
.top-bar a.dropdown-toggle {
    color: inherit;
    text-decoration: none;
}
.top-bar a.dropdown-toggle::after {
    margin-left: 5px;
}
.top-bar a.dropdown-item {
    color: #555;
    font-weight: 300;
}
.top-bar a.dropdown-item:hover {
    color: #fff;
}
@media (max-width: 992px) {
    .top-bar .text-col {
        display: none;
    }
}
@media (max-width: 580px) {
    .top-bar .dropdown {
        padding: 0px 7px;
       
    }
    .top-bar .dropdown:last-of-type {
  
     padding-left: 5px; 
    }
}